<!-- Creating the content heading -->
 <% if (title) { %>
<h1 class="account_edit"><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<!-- The next code shows a message on the screen -->
 <%- messages() %>

 <% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<!-- Here we are showing the view main content -->
<div class = "external">
  <div class="form-container">
      <!-- In this list we can search and select the user we want the manager to edit -->
      <select name="account_user" id="account_user" onchange="loadNewData(this.value)">
        <% data.forEach(user => { %>
          <option value="<%= user.account_id %>">
            <%= user.account_firstname %> <%= user.account_lastname %>
          </option>
        <% }) %>
      </select>
      <!-- In the next filds we can edit users account type -->
       <!-- The administrator can't change personal data, only account type -->
      <p> All fields are required"</p>
      <form id="editForm" action ="/account/admin" method = "post" class="login-form">
        <label for="account_firstname">First Name:*</label>
        <input type="text" name ="account_firstname" id="account_firstname" placeholder="Enter your First Name" required value="<%= account_firstname %>" readonly>
        <label for="account_lastname">Last Name:*</label>
        <input type="text" name = "account_lastname" id="account_lastname" placeholder="Enter your Last Name" required value="<%= account_lastname %>" readonly>

        <label for="account_email">Email:*</label>
        <input type="email" name ="account_email" id="account_email" placeholder="Enter your email" required value="<%= account_email %>" readonly>

        <label for="account_type">Type*</label>
        <select id="account_type" name="account_type">
          <% account_type.forEach(type => { %>
            <option value="<%= type %>"
              <% if (type === current_account_type) { %>
                selected
              <% } %>
            >
              <%= type %>
            </option>
          <% }) %>
        </select>   
        <input type="text" name="account_id" id="account_id" hidden value ="<%=account_id %>">
        <button type="submit">Update</button>
      </form>
  </div>
</div>
<script src="/js/role_account.js" defer></script>
