<!-- Creating the content heading -->
 <% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<!-- The next code shows a message on the screen -->
 <%- messages() %>


<!-- Here we are showing the view main content -->
 <div class = "external">
  <div class="form-container">
    <p>Confirm Deletion - The delete is permanent.</p>
    <form id="deleteForm" name="deleteForm" action = "/inv/delete" method = "post" class="login-form">
      <!-- Make -->
      <label for="inv_make">Make:</label>
      <input type="text" id="inv_make" name="inv_make" required placeholder="Min of 3 characters" pattern=".{3,}" value="<%= locals.inv_make %>" readonly>

      <!-- Model -->
      <label for="inv_model">Model:</label>
      <input type="text" id="inv_model" name="inv_model" required placeholder="Min of 3 characters" pattern=".{3,}" value="<%= locals.inv_model %>" readonly>

      <!-- Price (Money format) -->
      <label for="inv_price">Price:</label>
      <input type="number" id="inv_price" name="inv_price" min="0" step="0.01" required placeholder="Decimal or integer" value="<%= locals.inv_price %>" readonly>

      <!-- Year -->
      <label for="inv_year">Year:</label>
      <input type="number" id="inv_year" name="inv_year" min="1900" max="2099" required placeholder="4-digit year" value="<%= locals.inv_year %>" readonly>

      <!-- Submit Button -->
      <button type="submit">Delete Item</button>
      <input type="hidden" name="inv_id" <% if(locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>
    </form>
  </div>
</div>